<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rick Astley</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>about Rickrolling</h1>
    <img class='photo' src="/rick.jpeg" />
    <p>Facts: the most copied link in the history</p>
    <p class='text'>Rickrolling, alternatively Rick-rolling or Rickroll, is a prank and an Internet meme involving an unexpected appearance of the music video for the 1987 Rick Astley song "Never Gonna Give You Up". The meme is a type of bait and switch using a disguised hyperlink that leads to the music video.</p>
    <a href="/">Back to Home</a>
  </body>
</html>
