<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <h1>アバオウト</h1>
    <section>
    
        <img id="image" src="https://i.pinimg.com/564x/74/65/0b/74650bb95421d9c7136ac16acbc42a81.jpg">

        <p class="para">Sailor Moon (セーラームーン, Sērā Mūn?), abréviation de « Bishōjo Senshi Sailor Moon » (美少女戦士セーラームーン,
            Bishōjo Senshi Sērā Mūn?, litt. « La Jolie Guerrière Sailor Moon » en français) est une franchise de médias
            japonaise, incluant manga, animes, comédies musicales, drama, jeux vidéo et divers produits dérivés, créée
            par Naoko Takeuchi en 1992.

            Chaque adaptation de la franchise reprend les aventures d’Usagi Tsukino, une adolescente banale et
            maladroite, qui est en réalité Sailor Moon, une héroïne aux pouvoirs magiques. Combattant le mal au nom de
            l’amour et la justice, elle est rejointe par de nombreuses alliées, toutes placées sous la protection d’une
            planète du Système solaire.</p>
    </section>
    <footer>
        <a href="/home">ホム</a>
        <a href="/works">プロダクシイオン</a>
    </footer>

</body>

</html>