<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Memes collection</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Rick Astley</h1>
    <p>The Memes collection</p>
    <div>
      <img src="/meme1.png" />
      <img src="/meme2.jpeg" />
      <img src="/meme3.png" />
      <img src="/meme4.png" />
      <img src="/meme5.jpg" />
      <img src="/meme6.jpeg" />
      <img src="/meme7.jpeg" />
      <img src="/meme8.jpeg" />
      <img src="/meme9.jpeg" />
      <img src="/meme10.jpeg" />
    </div>
    <a href="/">Back to Home</a>
  </body>
</html>
