<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/works.css">
</head>

<body>
    <h1>プロダクシイオン</h1>
    <section class="section1">
        <img class="img1"
            src="https://www.bdfugue.com/media/catalog/product/cache/1/image/400x/17f82f742ffe127f42dca9de82fb58b1/9/7/9782811607180_1_75.jpg">

        <p>En 1990, après la parution de sa série The Cherry Project, Naoko Takeuchi décide de créer une nouvelle
            héroïne qui serait dotée de pouvoirs magiques et qui combattrait au nom « de l’amour et de la justice20. »
            Fumio Osano, son éditeur chez Kōdansha, suggère de l’habiller en sailor fuku (セーラー服, sērā fuku?), l’uniforme
            traditionnel des écolières japonaises21. Ainsi naît Codename Sailor V (コードネームはセーラーＶ, Kōdōnēmu wa Sērā V?,
            litt. Nom de code : Sailor V), dont les histoires paraissent en feuilleton dès le 18 juillet 1991 dans un
            supplément du magazine Nakayoshi, Runrun.

            Devant le succès rencontré par Codename Sailor V, la société de production Toei Animation contacte Naoko
            Takeuchi et lui demande de remanier le concept pour créer un manga et un dessin animé qui seraient diffusés
            simultanément22,20. L’auteure, fan des séries Super sentai comme Himitsu Sentai Goranger23, décide alors de
            créer une équipe de filles dirigées par un personnage du même nom, Sailor Moon24. Sailor V intègre l’équipe
            des guerrières, sous le nom de Sailor Venus. Pour son dessin, Naoko Takeuchi s’inspire des travaux de Leiji
            Matsumoto et de Kimiko Uehara25. Pour Sailor Moon Naoko Takeuchi créé un univers riche en références
            astrologiques26, astronomiques27, de mythologiques greco-romaines28 et minéralogiques27. L’histoire de
            Sailor Moon se base également sur certains détails du conte populaire japonais Kaguya-hime29.

            La publication des premières aventures de Sailor Moon est prévue pour l’édition de février 1992 du mensuel
            Nakayoshi, un des mois de l’année où les ventes du magazine sont statistiquement les plus importantes30,31.
            La production du dessin animé commence aussitôt le premier chapitre du manga scénarisé par Naoko Takeuchi,
            avant même qu’il ne soit publié dans Nakayoshi. Le premier épisode est diffusé le 7 mars 1992 sur TV Asahi.
            La série ne doit alors s’étendre que sur une saison : treize chapitres et une quarantaine d’épisodes
            animés32. Mais le succès est bien présent et l’auteure créé quatre nouveaux arcs narratifs, la série
            s’étirant finalement sur 52 chapitres et 200 épisodes.</p>
        <img class="img2" src='https://i.pinimg.com/564x/af/10/88/af1088416a3294b1552d868b124df7a4.jpg'>
    </section>
    <footer>
        <a href="/home">ホム</a>
        <a href="/about">アバオウト</a>
    </footer>
</body>

</html>