body {
    background-color: #FF1493;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 20px;
    padding: 20px;
  color: white;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border: 5px solid white;
    padding: 20px;
}
#image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#image img {
    border: 10px solid white;
    border-radius: 30%;
  
}
